DB_DSN=postgres://glimpse:glimpse_dev@localhost:5432/glimpse?sslmode=disable
DB_USER=glimpse
DB_PASSWORD=glimpse_dev
DB_NAME=glimpse
JWT_SECRET=your-jwt-secret

# SMTP credentials
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=
CONTEXT_TIMEOUT=30

# TMDB API credentials
TMDB_BEARER_TOKEN=your-tmdb-bearer-token
TMDB_URL=https://api.themoviedb.org/3
